################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Utils/bin
/UtilsUnitTest/bin
/UtilsUnitTest/obj
/bin
/Utils/.vs
/Utils/obj
