################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Utils/bin
/Utils/Framework2.0/obj
/Utils/Standard2.0/obj
/UtilsUnitTest/bin
/UtilsUnitTest/obj
